.section > div{
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.section > div > div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.section .window{
    display: none;
}