.StatBox{
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 7rem;
    border-radius: 5px;
    border: 3px solid var(--bg-jasny)
}

.StatBox div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.StatBox div:first-child{
    height: 33%;
    border-bottom: 3px solid var(--bg-jasny);
}

.StatBox div:last-child{
    height: fit-content;
    margin: auto;
    text-align: center;
}