.OwlModule{
    width: 50%;
    border: 1px solid var(--braz-ciemny);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OwlModule h3{
    border-bottom: 1px solid var(--braz-ciemny);
}

.OwlModule > div{
    display: flex;
    gap: 0.5rem;
}