.OwlModule{
    width: 45%;
    border: 1px solid var(--braz-ciemny);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1px 0 0;
}

.OwlModule p{
    width: 100%;
    border-bottom: 1px solid var(--braz-ciemny);
    text-align: center;
    padding: 0 0 0.5rem 0;
}

.OwlModule > div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.OwlModule button{
    height: min-content;
}

.OwlModule button[class="Poinformuj MG o zakupie"]:hover{
    background: orangered;
}

.OwlModule button.kupuj:hover{
    background: lime;
}