
nav{
    background: var(--bg-ciemny);
}

.NavButton-div{
    display: none;
}

.nav-ul{
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    gap: 0.5rem;
}

.nav-el{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    gap: 0.25rem;
}


.profileIcon{
    width: 3rem;
    height: 3rem;
}

.nav-choose-section{
    display: none;
}


@media only screen and (max-width: 745px){
    .nav-el:last-child{
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .nav-el:last-child div{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .nav-el:last-child div:last-child{
        display: none;
        width: unset;
    }
}


@media only screen and (max-width: 628px) {
    .nav-el{
        flex-direction: column;
    }
    .nav-el:last-child{
        flex-direction: row;
    }
}

@media only screen and (max-width: 520px) {
    .nav-el:last-child div.nav-choose-section{
        position: absolute;
        align-items: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .nav-choose-section div{
        display: flex;
        flex-direction: column;
        background: var(--text);
        padding: 1rem;
        height: min-content;
        z-index: 2;
        gap: 0.5rem;
        border-radius: 5px;
        align-items: center;
    }

    .nav-choose-section button{
        width: 100%;
    }

    .nav-choose-section button:last-child{
        width: min-content;
    }

    
    
    .navClick{
        display: none;
    }
    .nav-ul .nav-el div.NavButton-div{
        display: flex;
        width: 100%;
    }

    .nav-ul .nav-el div.NavButton-div div{
        display: flex;
    }
    .nav-ul .nav-el div.NavButton-div > div{
        display: block;
    }
}

.hp-el{
    display: flex;
    justify-content: center;
    align-items: center;
}