.imgChain{
    width: 1rem;
    filter: grayscale(100%);
    filter: invert(1);
}

.ZdolnosciSection > div{
    flex-direction: column;
}

.ZdolnosciSection div{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.ReceptaZdolnosci{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}