.imgChain{
    width: 1rem;
    filter: grayscale(100%);
    filter: invert(1);
}



.ReceptaZdolnosci{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.zdolnosciBox{
    flex-direction: column;
    background: var(--text);
    color: var(--main-color);
    padding: 1rem;
    border-radius: 5px;
}

.windowShowed .zdolnoscInfoBox{
    transform: translateY(0);
    padding: 1rem;
    background: var(--text);
    border-radius: 5px;
    align-items: center;
}

.zdolnoscInfoBox h2{
    color: var(--main-color);
    margin: 0.5rem 0;
}