.FormConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.FormConteiner form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.FormConteiner label{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.mainPage{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainPage > button{
    width: fit-content;
}

.mainButtons{
    display: flex;
    justify-content: space-between;
}

input[type="submit"]{
    height: 2.5rem;
    cursor: pointer;
    font-size: inherit;
    background: var(--main-color);
}

.mainButtons{
    display: flex;
    justify-content: space-between;
}

.inputsConteiner, .inputsConteiner > div > div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.inputsConteiner > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#loginID{
    margin-right: 1.5rem;
}

.catchedError{
    position: absolute;
    top: 5rem;
    border-top: 2px solid darkred;
    padding: 1rem 25%;
    background-color: pink;
    font-weight: 500;
    font-size: large;
    display: flex;
    align-items: center;
    color: darkred;
}