.FormConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.FormConteiner form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.FormConteiner label{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.mainPage{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainPage > button{
    width: fit-content;
}

.mainButtons{
    display: flex;
    justify-content: space-between;
}

input[type="submit"]{
    height: 2rem;
    cursor: pointer;
    background: var(--main-color);
}

.mainButtons{
    display: flex;
    justify-content: space-between;
}